.NavBar {
  height: 80px;
  width: 100%;
  position: relative;
  opacity: 1;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.NavBar .logo {
  font-size: var(--fontsize-l);
  color: var(--header-color);
  text-shadow: var(--text-shadow-heavy);
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
}
.NavBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar nav ul li {
  display: inline-block;
  margin: 20px;
}
.NavBar nav ul a {
  font-size: var(--fontsize-links);
  text-decoration: none;
  color: var(--link-color);
  text-shadow: 2px 2px 5px #000000;
}

.NavBar a:hover {
  border-bottom: 4px solid var(--link-color);
  color: var(--link-color);
}

.NavBar .MobileNavigation {
  display: none;
}
@media (max-width: 990px) {
  .NavBar .logo {
    font-size: var(--fontsize-m);
  }
  .NavBar .Navigation {
    display: none;
    transition: 0.5s ease-out;
  }
  .NavBar .MobileNavigation {
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
  }
  .NavBar .MobileNavigation .Hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
    outline: none;
    color: #f9f9f9;
    z-index: 999;
  }
  .NavBar nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 24);
    transition: 0.5s ease-in-out;
  }
  .NavBar {
  }
  .NavBar a:hover {
    border-bottom: none;
    color: var(--link-hover-color);
  }
}
