:root {
  --font-sz-s: 1rem;
  --font-sz-m: 2rem;
  --font-sz-l: 3rem;
  --primary-color: #575755;
  --secondary-color: #585fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn {
  background: rgb(157, 40, 31);
  color: #fff;
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: auto;
  font-size: 1rem;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
.btn2 {
  background: rgb(72, 114, 114);
  color: #fff;
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: auto;
  font-size: 1rem;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
